{% liquid
  assign slides_size = section.blocks.size
  assign slides = section.blocks
%}
<div id="product-cards-{{ section.id }}" class="_cards-container" style="background-color: {{ section.settings.section_background }};">
  {% if section.settings.title != blank %}
    <h2 class="_cards-title" style="text-align: {{ section.settings.title_align }}; color: {{ section.settings.title_color }};">
      {{ section.settings.title }}
    </h2>
  {% endif %}

  {% if slides_size > 1 %}
    <div class="_product-card-carousel _product-card-carousel--{{ section.id }}">
      {% for slide in slides %}
        <div class="_card-slide slide-{{ slide.id }}">
          <div class="_card">
            <div class="_card-media">
              <div class="_card-image">
                {{ slide.settings.bg_image | image_url: width: 426 | image_tag: class: '_card-image-bg' }}
              </div>
              <a href="/products/{{ slide.settings.product.handle }}" class="_card-link">
                {{ slide.settings.main_image | image_url: width: 426 | image_tag: class: '_card-image-render' }}
              </a>
              <div class="_card-info">
                <div class="_title">
                  <a href="/products/{{ slide.settings.product.handle }}" class="_card-link">
                    {{ slide.settings.product.title }}
                  </a>
                </div>
                <div class="_price">
                  <span class="_sale-price">{{ slide.settings.product.price | money }}</span>
                  {% if slide.settings.product.compare_at_price > slide.settings.product.price %}
                    <span class="_compare-price">{{ slide.settings.product.compare_at_price | money }}</span>
                    <span class="_compare-price-savings">
                      {{ slide.settings.product.compare_at_price 
                        | minus: slide.settings.product.price 
                        | times: 100.0 
                        | divided_by: slide.settings.product.compare_at_price
                        | ceil
                      }}% OFF</span>
                  {% endif %}
                </div>
                <div class="_description">
                  {% if slide.settings.use_alternative_description %}
                    {{ slide.settings.description }}
                  {% else %}
                    {{ slide.settings.product.description }}
                  {% endif %}
                </div>
                <form class="_card-form" action="/cart/add" method="post" id="add-to-cart-form">
                  <input type="hidden" name="id" value="{{ slide.settings.product.selected_or_first_available_variant.id }}">
                  <button class="_card-atc" type="submit">
                    <div class="_btn-text">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path
                          d="M21 4H2v2h2.3l3.28 9a3 3 0 0 0 2.82 2H19v-2h-8.6a1 1 0 0 1-.94-.66L9 13h9.28a2 2 0 0 0 1.92-1.45L22 5.27A1 1 0 0 0 21.27 4 .84.84 0 0 0 21 4zm-2.75 7h-10L6.43 6h13.24z">
                        </path>
                        <circle cx="10.5" cy="19.5" r="1.5"></circle>
                        <circle cx="16.5" cy="19.5" r="1.5"></circle>
                      </svg>
                      <span>
                        {{ slide.settings.button_label }}
                      </span>
                    </div>
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>      
      {% endfor %}
    </div>
  {% endif %}

  {% if section.settings.dots or section.settings.arrows %}
    <div class="_cards-controls">
      {% if section.settings.arrows %}
        <button class="_cards-control-btn _cards-control-btn-prev--{{ section.id }}">
          <svg xmlns="http://www.w3.org/2000/svg" 
            width="24" 
            height="24" 
            viewBox="0 0 24 24"><path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"></path></svg>
        </button>
      {% endif %}
      {% if section.settings.dots %}
        <div class="_cards-control-dots"></div>
      {% endif %}
      {% if section.settings.arrows %}
        <button class="_cards-control-btn _cards-control-btn-next--{{ section.id }}">
        <svg xmlns="http://www.w3.org/2000/svg" 
          width="24" 
          height="24" 
          viewBox="0 0 24 24"><path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path></svg>
        </button>
      {% endif %}
    </div>
  {% endif %}
</div>

<style>
  {% for slide in slides %}
    #product-cards-{{ section.id }} .slide-{{ slide.id }} ._title {
      color: {{ slide.settings.title_color }};
    }

    #product-cards-{{ section.id }} .slide-{{ slide.id }} ._sale-price {
      color: {{ slide.settings.price_color }};
    }

    #product-cards-{{ section.id }} .slide-{{ slide.id }} ._compare-price {
      color: {{ slide.settings.compare_price_color }};
    }
  
    #product-cards-{{ section.id }} .slide-{{ slide.id }} ._description {
      color: {{ slide.settings.description_color }};
    }

  {% endfor %}
</style>


<script defer>
  document.addEventListener('DOMContentLoaded', () => {
    $('._product-card-carousel--{{ section.id }}').slick({
      centerMode: {{ section.settings.center_mode }},
      infinite: {{ section.settings.infinite }},
      slidesToShow: {{ section.settings.slides_to_show }},
      slidesToScroll: {{ section.settings.slides_to_scroll }},
      autoplay: {{ section.settings.autoplay }},
      autoplaySpeed: {{ section.settings.autoplay_speed | times: 1000 }},
      arrows: {{ section.settings.arrows }},
      dots: {{ section.settings.dots }},
      pauseOnHover: {{ section.settings.pause_on_hover }},
      pauseOnFocus: true,
      variableWidth: true,
      arrows: {{ section.settings.arrows }},
      prevArrow: '._cards-control-btn-prev--{{ section.id }}',
      nextArrow: '._cards-control-btn-next--{{ section.id }}',
      appendDots: '._cards-control-dots',
      responsive: [
        {
          breakpoint: 600,
          settings: {
              slidesToShow: 1,
              slidesToScroll: 1,
          }
        }
      ]
    });
  });
</script>

{% schema %}
  {
  "name": "Product card",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "color",
      "id": "section_background",
      "label": "Section background",
      "default": "#191c29"
    },
    {
      "type": "text",
      "id": "title",
      "default": "Product cards",
      "label": "Title"
    },
    {
      "type": "select",
      "id": "title_align",
      "label": "Title align",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Title color",
      "default": "#ffffff"
    },
    {
      "type": "checkbox",
      "id": "infinite",
      "default": true,
      "label": "Infinite carousel"
    },
    {
      "type": "checkbox",
      "id": "center_mode",
      "default": true,
      "label": "Center mode",
      "info": "If true, the carousel will be centered on the page, highly recommend to set slides to show to 1"
    },
    {
      "type": "range",
      "id": "slides_to_show",
      "default": 3,
      "min": 1,
      "max": 5,
      "step": 1,
      "label": "Slides to show",
      "info": "In desktop, for mobile it will be 1"
    },
    {
      "type": "range",
      "id": "slides_to_scroll",
      "default": 1,
      "min": 1,
      "max": 5,
      "step": 1,
      "label": "Slides to scroll ",
      "info": "In desktop, for mobile it will be 1"
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "default": false,
      "label": "Autoplay"
    },
    {
      "type": "range",
      "id": "autoplay_speed",
      "default": 5,
      "min": 1,
      "max": 12,
      "step": 1,
      "label": "Autoplay speed",
      "info": "In seconds"
    },
    {
      "type": "checkbox",
      "id": "pause_on_hover",
      "default": true,
      "label": "Pause on hover"
    },
    {
      "type": "checkbox",
      "id": "arrows", 
      "default": true,
      "label": "Show arrows"
    },
    {
      "type": "checkbox",
      "id": "dots",
      "default": true,
      "label": "Show dots"
    },
    {
      "type": "color",
      "id": "controls_color",
      "label": "Controls color",
      "default": "#ffffff"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "image_picker",
          "id": "bg_image",
          "label": "Background image, required a 16:9 aspect ratio"
        },
        {
          "type": "image_picker",
          "id": "main_image",
          "label": "main image, required a 4:3 aspect ratio, .png transparent background"
        },
        {
          "type": "color",
          "id": "title_color",
          "label": "Title color",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "price_color",
          "label": "Price color",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "compare_price_color",
          "label": "Compare price color",
          "default": "#ffffff"
        },
        {
          "type": "checkbox",
          "id": "use_alternative_description",
          "label": "Use an alternative description",
          "default": false
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Alternative description"
        },
        {
          "type": "color",
          "id": "description_color",
          "label": "Description color",
          "default": "#ffffff"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "ATC button label",
          "default": "Add to cart"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product cards"
    }
  ]
}

{% endschema %}